.DS_Store
*/.DS_Store
.vscode

blatt03/kombibild
blatt03/landsatBild

blatt04/bildverbesserung

blatt06/fruitsTrain
blatt06/fruitsTest
blatt06/bildverbesserung
blatt06/fruitsTrain.zip
blatt06/fruitsTest.zip

blatt08/ergebnis_Aufgabe2.csv
blatt08/ergebnis_Aufgabe3.csv

